<template>
  <v-row>
    <v-col cols="12" lg="6">
      <v-row justify="center">
        <v-col cols="12">
          <ui-input-text
            :value="product_data.name"
            label="Name"
            rules="required"
            @input="(value) => changeValue({ key: 'name', value })"
          ></ui-input-text>
        </v-col>
        <v-col cols="12">
          <ui-input-text
            :value="product_data.price"
            label="Price"
            rules="required"
            @input="(value) => changeValue({ key: 'price', value })"
          ></ui-input-text>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12">
          <ui-input-text
            :value="product_data.quantity"
            label="Quantity"
            rules="required"
            @input="(value) => changeValue({ key: 'quantity', value })"
          ></ui-input-text>
        </v-col>
        <v-col cols="12">
          <ui-file
            :value="product_data.file"
            label="File input"
            rules="required"
            @change="onFileChange"
          ></ui-file>

          <v-img v-if="product_data.file" :src="proImg" height="200px"></v-img>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12">
          <ui-textarea
            :value="product_data.description"
            label="Description"
            rules="required"
            @input="(value) => changeValue({ key: 'description', value })"
          ></ui-textarea>
        </v-col>
      </v-row> </v-col
  ></v-row>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  data: () => ({
    proImg: ""
  }),
  computed: {
    ...mapGetters({ product_data: "product_data" }),
  },
  methods: {
    ...mapMutations(["CHANGE_PRODUCT_VALUE"]),
    changeValue(data) {
      this.CHANGE_PRODUCT_VALUE({ ...data });
    },
    onFileChange(e) {
      if (e === null) {
        this.proImg = "";
        this.changeValue({ key: "image", value: "" });
        this.changeValue({ key: "file", value: null });
        return;
      }
      this.createImage(e);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        const image = e.target.result;
        vm.proImg = image;
        vm.changeValue({ key: "image", value: image });
        vm.changeValue({ key: "file", value: file });
      };
      reader.readAsDataURL(file);
    },
  },
};
</script>
