<template>
  <div class="wrap-content">
    <v-container>
      <ValidationObserver ref="form">
        <v-card class="product-card">
          <v-card-title> Add New Product</v-card-title>
          <v-card-text>
            <FormProduct />
            <v-row justify="center">
              <v-col cols="12">
                <v-btn class="mr-3" large color="primary" @click="back">
                  Back
                </v-btn>
                <v-btn large color="primary" @click="handleSubmit">
                  Create
                </v-btn>
              </v-col>
            </v-row>  
          </v-card-text>
        </v-card>
      </ValidationObserver>
    </v-container>
  </div>
</template>
<script>
import {mapActions,mapMutations } from "vuex";
import FormProduct from "@/components/form/form-product";
export default {
  components: {
    FormProduct,
  },
  created() {
    this.RESET_PRODUCT_FORM()
  },
  methods: {
    ...mapMutations({RESET_PRODUCT_FORM:'RESET_PRODUCT_FORM'}),
    ...mapActions({createProduct:'createProduct'}),
    back() {
       this.RESET_PRODUCT_FORM()
      this.$router.push("/product");
    },
    async handleSubmit() {
      const valid = await this.$refs.form.validate();
      if (valid) {
        try {
          await this.createProduct()
          requestAnimationFrame(() => {
            this.$refs.form.reset();
          });
          this.$toast.open({
            message: "Create product successful",
            type: "success",
            duration: 3000,
            dismissible: true,
          });
        } catch (error) {
          console.log(error);
        }
      }
    },
  },
};
</script>
