<template>
  <div class="wrap-content">
    <v-container fill-height>
      <v-row justify="end">
        <v-col cols="12" lg="4">
          <ui-input-text
            prepend-inner-icon="mdi-magnify"
            label="Search"
            solo
            @input="(value) => searchText(value)"
          ></ui-input-text>
        </v-col>
        <v-col cols="12" lg="1">
          <v-btn color="primary" @click="addNew()">
            Add
          </v-btn></v-col
        >
      </v-row>
      <v-row>
        <v-col cols="12" lg="3">
          <form-filter>
            <template v-slot:content-filter>
              <div class="price">
                <div class="heading">Price</div>
                <v-radio-group v-model="priceRadio" @change="filterPrice">
                  <v-radio
                    v-for="(n, index) in priceArr"
                    :key="index"
                    :label="n.label"
                    :value="n.value"
                  ></v-radio>
                </v-radio-group>
              </div>
              <div class="quantity">
                <div class="heading mb-10">Quantity</div>
                <v-range-slider
                  v-model="range_quantity"
                  :max="max"
                  :min="min"
                  hide-details
                  thumb-label="always"
                  class="align-center"
                  @change="filterQuantity"
                >
                </v-range-slider>
              </div>
            </template>
          </form-filter>
        </v-col>
        <v-col cols="12" lg="9">
          <v-row v-if="item_listing.length == 0">
            <v-col class="text-center" lg="12">
              <span>No Product Available.</span>
            </v-col>
          </v-row>
          <v-row v-if="item_listing.length > 0">
            <v-col
              v-for="(item, index) in item_listing"
              :key="index"
              cols="12"
              lg="4"
            >
              <v-card
                class="mx-auto"
                max-width="344"
                :class="{ highlight: item.quantity < 10 && item.quantity > 0 }"
              >
                <div class="position-relative">
                  <v-img :src="item.image" height="200px"> </v-img>
                  <div v-if="item.quantity == 0" class="out-of-stock">
                    Out of stock
                  </div>
                </div>

                <v-card-title>
                  {{ item.name }}
                </v-card-title>
                <v-card-text>
                  <div class="product_content">
                    <div class="text-subtitle-1">
                      Price: {{ item.price | formatCurrency }}
                    </div>
                    <div class="quantity">
                      Quantity: {{ item.quantity | formatNumber }}
                    </div>
                    <div class="desc">
                      Description: {{ item.description | subString(50) }}
                    </div>
                  </div>
                </v-card-text>

                <v-card-actions>
                  <v-btn color="orange lighten-2" text @click="edit(item.id)">
                    Edit
                  </v-btn>
                  <v-btn
                    color="orange lighten-2"
                    text
                    @click="deleteItem(item.id)"
                  >
                    Delete
                  </v-btn>
                   <v-btn
                    color="orange lighten-2"
                    text
                    @click="view(item.id)"
                  >
                    view
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <ConfirmDialog :show.sync="show" @confirm="remove" @close="show=false" />
    <ViewDialog :show.sync="show_view" @close="show_view=false" :data="view_product"  />
  </div>
</template>
<script>
import { mapGetters, mapActions,mapMutations } from "vuex";
import FormFilter from "@/components/filter/index.vue";
import ConfirmDialog from "@/components/dialog/confirm.vue";
import ViewDialog from "@/components/dialog/view.vue";
export default {
  components: {
    FormFilter,
    ConfirmDialog,
    ViewDialog
  },
  data: () => ({
    product_id: "",
    show: false,
    show_view: false,
    range_quantity: [0, 1000],
    max: 1000,
    min: 0,
    priceRadio: "0 - 50",
    priceArr: [
      { label: "Less than 50", value: "0 - 50" },
      { label: "From 50 to 100", value: "50 - 100" },
      { label: "More than 100", value: "100 - 1000" },
    ],
  }),
  computed: {
    ...mapGetters({ item_listing: "item_listing",view_product: "view_product" }),
  },
  mounted() {
    this.getProducts();
  },
  methods: {
    ...mapActions({
      getProducts: "getProducts",
      searchText: "searchText",
      filterPrice: "filterPrice",
      filterQuantity: "filterQuantity",
      deleteProduct: "deleteProduct",
    }),
    ...mapMutations(['VIEW_PRODUCT']),
    addNew() {
      this.$router.push("/product/create");
    },
    edit(id) {
      this.$router.push(`/product/edit/${id}`);
    },
    deleteItem(id) {
      this.show = true;
      this.product_id = id;
    },
    remove() {
      this.deleteProduct(this.product_id);
      this.show = false;
      this.$toast.open({
        message: "Delete product successful",
        type: "success",
        duration: 3000,
        dismissible: true,
      });
    },
    view(id){
      this.VIEW_PRODUCT(id)
      this.show_view = true
    }
  },
};
</script>
