<template>
  <div class="component-filter">
    <h1>{{title}}</h1>
    <slot name="content-filter"> </slot>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Filters'
    }
  }
}
</script>