<template>
  <v-dialog v-model="show" max-width="290" @click:outside="$emit('close')">
    <v-card>
      <v-card-title class="text-h5">
        Confirm delete
      </v-card-title>

      <v-card-text>
        Are you sure want to delete it?
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="$emit('close')">
          Cancel
        </v-btn>

        <v-btn color="green darken-1" text @click="$emit('confirm')">
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
