<template>
  <v-dialog v-model="show" max-width="500" @click:outside="$emit('close')">
    <v-card>
      <v-card-text class="pt-5" v-if="data">
        <v-row>
          <v-col lg="6">
            <v-img
              lazy-src="https://picsum.photos/id/11/10/6"
              height="200"
              width="300"
              :src="data.image"
            ></v-img>
          </v-col>
          <v-col lg="6">
            <ul class="ui-view">
              <li>Product Name: {{data.name}}</li>
              <li>Price:{{data.price | formatCurrency}}</li>
              <li>Quantity: {{data.quantity | formatNumber }}</li>
              <li>Description: {{data.description}}</li>
              <li v-if="data.quantity==0" class="red--text" >Out of stock</li>
            </ul>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    data:{
        type: Object,
        default: ()=>{
            return {}
        }
    }
  },
};
</script>
