<template>
  <v-app id="inspire">
    <v-main>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <ValidationObserver ref="form">
              <v-card class="elevation-12">
                <v-toolbar color="primary" dark flat>
                  <v-toolbar-title>Login form</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-alert
                    :value="!!error_message"
                    type="error"
                    dismissible
                    @input="closeAlert"
                  >
                    {{ error_message }}
                  </v-alert>
                  <v-form>
                    <ui-input-text
                      v-model="username"
                      label="Login"
                      name="login"
                      rules="required"
                      prepend-icon="mdi-account"
                      type="text"
                    ></ui-input-text>
                    <ui-input-text
                      v-model="password"
                      label="Password"
                      name="Password"
                      rules="required"
                      prepend-icon="mdi-lock"
                      type="password"
                    ></ui-input-text>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" @click="handleLogin">Login</v-btn>
                </v-card-actions>
              </v-card>
            </ValidationObserver>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  computed: {
    ...mapGetters(["error_message"]),
  },
  methods: {
    ...mapActions({ login: "login" }),
    ...mapMutations(["ERROR_MESSAGE"]),
    async handleLogin() {
      const valid = await this.$refs.form.validate();
      if (valid) {
        const data = {
          username: this.username,
          password: this.password,
        };
        this.login(data);
      }
    },
    closeAlert() {
      this.ERROR_MESSAGE("");
    },
  },
};
</script>
