.wrap-content {
  .container {
    max-width: 1200px;
  }
}
.filter-box {
  display: flex;
  width: 100%;
}
.product-card {
  width: 100%;
  padding: 30px;
}
.error-message {
  color: red;
}
.product_content {
  height: 80px;
}
.out-of-stock {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: red;
  margin:0 auto;
  width: 100px;
}
.highlight{
  border: 1px solid #9ac2ff !important;
}
.ui-view{
  list-style: none;
  li{
    margin-bottom: 10px;
  }
}