<template>
  <v-app>
     <v-app-bar
      color="blue"
      dark
      app
    >
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title>Product System</v-toolbar-title>
        <v-spacer></v-spacer>

      <v-btn icon @click="logout">
        <v-icon>mdi-location-exit</v-icon>
      </v-btn>

    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      app
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-apps-box</v-icon>
            </v-list-item-icon>
            <v-list-item-title><a  href="/product">Product Management</a></v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "Dashboard",
  data: () => ({
   drawer: false,
   group: null,
  }),
  methods: {
    logout(){
      localStorage.removeItem('user')
      this.$router.push('/login')
    }
  },
};
</script>
