<template>
  <ValidationProvider
    v-slot="{ errors }"
    :vid="vid"
    :name="$attrs.label"
    :rules="rules"
  >
    <v-file-input
      v-model="innerValue"
      v-bind="$attrs"
      placeholder="Select your files"
      prepend-icon="mdi-paperclip"
      solo
      dense
      show-size
      :error-messages="errors"
    >
    </v-file-input>
  </ValidationProvider>
</template>
<script>
export default {
  props: {
    vid: {
      type: String,
      default: null,
    },
    rules: {
      type: [Object, String],
      default: "",
    },
    value: {
      type: null,
      default: null,
    },
  },
  data: () => ({
    innerValue: [],
  }),
  watch: {
    innerValue(newVal) {
      this.$emit("change", newVal);
    },
    value(newVal) {
      this.innerValue = newVal;
    },
  },
  created() {
    if (this.value) {
      this.innerValue = this.value;
    }
  },
};
</script>
