<template>
  <ValidationProvider
    v-slot="{ errors }"
    :vid="vid"
    :name="$attrs.label"
    :rules="rules"
  >
    <v-textarea
      v-model="innerValue"
      v-bind="$attrs"
      solo
      dense
      :error-messages="errors"
    ></v-textarea>
  </ValidationProvider>
</template>
<script>
export default {
  props: {
    vid: {
      type: String,
      default: null,
    },
    rules: {
      type: [Object, String],
      default: "",
    },
    value: {
      type: null,
      default: null,
    },
    type: {
      type: String,
      default: "text",
    },
    asterisk: { type: Boolean, default: () => false }
  },
    data: () => ({
      innerValue: "",
    }),
    watch: {
      innerValue(newVal) {
        this.$emit("input", newVal);
      },
      value(newVal) {
        this.innerValue = newVal;
      },
    },
    created() {
      if (this.value) {
        this.innerValue = this.value;
      }
    },

};
</script>
